*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    --secColor: rgba(255,255,255,0.7);
    --mainColor:#f4623a ;
    --service: #6c757d;
}
@font-face {
    font-family: MerriBold;
    src: url(../Merriweather_Sans/static/MerriweatherSans-Bold.ttf);
}
body{
    
    font-family: MerriBold;
}
/*start header*/

.navbar{ 
    position: fixed;
    width: 100%;
   margin-top: 15px;
}
.container{
width: 80%;
margin:auto ;
}
.navbar.container{
    overflow: auto;
}
.logo{
    color: var(--secColor);
    text-transform: capitalize;
    font-size: 30px;
    width: 35%;
    float: left;
}
.nav{
    
    width: 65%;
    float: left;
    font-size: 20px;
    text-align: right;
}
.nav.list{
    list-style:none;
}
.list-item{
    display: inline-block;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .logo, .nav{
        width: 100%;
        text-align: center;

    }
    .logo{
        margin-bottom: 20px;
    }
   
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo, .nav{
        width: 100%;
        text-align: center;

    }
    .logo{
        margin-bottom: 20px;
    } 
 }

.link-nav{
    color: var(--secColor);
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 15px;
}
.header-content{
    background-image: url("../images/bg-masthead.jpg");
    height: 100vh;
    background-size: cover;
}
.header-content-item{
    text-align: center;
    padding-top: 200px;
    
}
.main-title{
    color:white;
    text-transform: uppercase;
    font-size: 39px;
    width: 50%;
    margin: auto;
}
.line{
    background-color: var(--mainColor);
    display:block;
    width: 50px;
    height:3px;
    margin:20px auto;
}
.main-description{
color: var(--secColor);
font-size: 19px;
width: 50%;
margin: auto;

}
.link{
color: white;
background-color: var(--mainColor);
text-decoration: none;
display: block;
margin: 30px auto;
padding: 25px 50px;
width: fit-content;
border-radius: 39px;
}
.header .overlay{
    height: 100%;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
 
}
/*End header*/
/*start about */
.about{
    background-color: var(--mainColor);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-header{
    color: white;
    font-size: 38px;
}
.about .line{
  background-color:white;  
}
.about-description{
    color: var(--secColor);
    font-size: 20px;
}
.about .link, .download .link{
    color: black;
    background-color: white;
   font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 30px;
}
/*End about */
/* start services*/
.services{
    padding-top: 100px;

    text-align: center;
}
.srevices-header {
    text-transform: capitalize;
}
.services-items{
 overflow: auto;   
}
.services-item{
    float: left;
    width: 25%;
}
.services-item .fas{
    color: var(--mainColor);
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.services-title{
    text-transform: capitalize;
    margin-top: 10px;
}
.services-decription{
    color: var(--service);
    font-size: 18px;
    margin-top: 10px;
}
/* End services*/
/*start portfolio*/
.portfolio{
    padding-top: 100px;
}
.portfolio-items{
  overflow: hidden;  
}
.portfolio .portfolio-item{
float: left;
width: 33.33%;
position: relative;
}
.portfolio img{
    display: block;
}
.portfolio .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mainColor);
    opacity: 0;
}
.overlay-content{
    text-align: center;
    padding-top: 149px;
}
.portfolio-main{
    color: var(--secColor);
    font-size: 15px;
}
.portfolio-second{
    color: white;
    font-size: 20px;
}
.portfolio-item:hover .overlay{
    opacity: .9;
}
/*End portfolio*/
/* start download*/
.download{
background-color: #343a40;
text-align: center;
padding-top: 120px;
padding-bottom: 120px;
}
.download-heading{
   color: white;
   text-transform: capitalize;
}
/* End download*/
/*start content*/
.contact{
    padding-top: 100px;
}
.contact-title{
    text-align: center;
   text-transform: capitalize;
}
.contact-description{
    color: #6c757d;
    text-align: center;
    width: 38%;
    margin: auto;
    font-size: large;
}
.contact-items{
    overflow: hidden;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
.contact-item{
    float: left;
    width: 50%;
text-align: center;

}
.contact-item .fas{
display: block;
font-size: 40px;
color:#6c757d ;
margin-bottom: 10px;
}
.contact-item .contact{
    color: var(--mainColor);
}
.contact-info{
    font-size: 20px;
}
/*End content*/
/* start footer */
.footer{
margin-top: 80px;
padding: 53px;
background-color: #f8f9fa;
text-align: center;    
}
/*End footer*/
/*Media Query*/


/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }*/

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }*/